body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./images/Object.png'); 
    background-size: top cover; 
    background-position: top center; 
    background-repeat: no-repeat;
}
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 30px 30px;
}

nav img {
    height: 30px; 
    padding-left: 5%;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 32px; 
    padding-right: 5%;
    display: flex; 
}
nav ul li {
    margin-left: 52px; 
}

nav ul li a {
    font-family: 'Source Sans Pro';
    color: white; 
    text-decoration: none; 
    font-size: 12px;
}
 
.landing {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height:50vh;
    text-align: center;
    margin-top: 0px;
        
}

.landing h1 {
    font-family: 'Source Sans Pro';
    color: white;
    font-weight: bold;
    font-size: 120px;
    transition: color 0.3s;
    margin-bottom: 0px;
}

.smiles-container {
    display: flex; 
    justify-content: center; 
    margin-top: 5px; 
}

.landing span {
    font-family: 'Source Sans Pro';
    color: white;
    font-weight: lighter; 
    font-size: 16px;
    margin: 0 30px; 
}

.landing button {
    margin-top: 20px; 
    padding: 14px 20px;
    background-color: #C271FF;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Source Sans Pro';
    border-radius: 22px;
}


.h2-pro strong{
    color: #C271FF;
    font-weight: bolder;
}
.h2-pro{
    font-family: 'Source Sans Pro', 'spin cycle ot';
    color: white;
    text-align: center;
    font-size: 32px;
    margin: 30px; /* Horizontal spacing */
    margin-top:10%;
    font-weight: lighter;
}
   

.pros-list {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-direction: row; /* Stack items horizontally */
    height:20vh; /* Full viewport height (or a specific height) */
    margin-bottom: 5%;
    margin-top: 10%;
}

.pros {
    margin: 0px; /* Space around each item */
    font-family: 'Source Sans Pro';
    color: white;
    text-align: center; /* Center text within each item */
    width: 20%;
    }
.pros img {
        width: 50%; /* Set the width to 100% of the parent container */
        height: auto; /* Maintain the aspect ratio */
        border-width: 5px; /* Existing border style */
        border-radius: 10px; /* Optional: Add rounded corners */
    }

.testimony{
    background-color: #C271FF;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-direction: row; /* Stack items horizontally */
    height: 392px; /* Full viewport height (or a specific height) */
       }

.blockquotes blockquote{
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 22px;
    width: 730px;
    font-weight: normal;
       }
.blockquotes h3 {
        color: white;
        font-family: 'Source Sans Pro';
        font-size: 22px;
        width: 730px;
        font-weight: bold;
        margin-left: 39px;
        margin-bottom: 5px;
           }

.blockquotes p {
            color: white;
            font-family: 'Source Sans Pro';
            font-size: 22px;
            font-weight: lighter;
            margin-left: 39px;
            margin-top: 5px;
        }     
   
.videos h2{
    font-family:'Source Sans Pro' ;
    color: #071629;
    font-size: 32px;
    text-align: center;
    font-weight: lighter;
    margin-top: 5%;
    }
.videos strong{
    font-family:'Source Sans Pro' ;
    color: #C271FF;
    }

 .thumbnail-container {
    position: relative; 
    display: inline-block; /
}

.thumbnail {
    width: 100%; 
    height: auto; 
}

.playbutton {
    position: absolute; 
    top: 50%; 
    left: 50%; /* Move to the center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the image dimensions */
    width: 50px; /* Adjust the size of the play button */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to pointer */
}
.video-container {
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Space items evenly */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    gap: 20px; /* Add space between items */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.video-container > div {
    flex: 1; /* Allow the children to grow */
    margin: 10px; /* Add some spacing */
    max-width: 300px; /* Optional: Set a maximum width */
        
}
.video-container h3{
font-family: 'Source Sans Pro';
font-size: 16px;
font-weight: bold;
color: #071629;
}
.video-container p{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: black;
    opacity: 50.16%;
}
.author-tag {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    margin-bottom: 2px; /* Space below the author tag */
}

.author-tag img {
    width: 30px; /* Adjust size as needed */
    height: auto; /* Keep aspect ratio */
    margin-right: 15px; /* Space between image and text */
    }
.author-tag h4{
    color: #C271FF;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    }

.star-rating {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    margin-top: 2px;
}

.star-rating img {
    height: auto; 
    margin-right: 5px; 
}

.rating-container {
    display: flex; 
    align-items: center; 
    margin-top: 0px;
}

.rating-container p {
    margin-left: 70px; 
    color: #C271FF;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    opacity: 100%;
}

.membership{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: #071629;
    height: 502px;
    font-family: 'Source Sans Pro';
    
}
.membership strong{
    font-family:'Source Sans Pro' ;
    color:#C271FF;
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
}
.membership  h2{
    font-family:'Source Sans Pro' ;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight:lighter;
    padding-bottom: 30px;
  }

.member-package {
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Distribute space between items */
    align-items: flex-start; /* Align items at the start */
    flex-wrap: wrap; /* Allow wrapping if the viewport is too small */
    margin-left: 10%;
    margin-right: 10%;
}

.member-package-1 {
    flex: 0 0 221px;
    min-height: 153px;
    text-align: center; 
    margin: 20px;
}

.member-package-1 h3{
    font-family:'Source Sans Pro' ;
    color: white;
    font-size: 18px;
    text-align: center;
        }
.member-package p{
    font-family:'Source Sans Pro' ;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}
.membership button{
    margin-top: 40px; 
    padding: 14px 20px;
    background-color: #C271FF;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 22px;
}
.faq-sec {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-family: 'Source Sans Pro';
    margin-top: 0;
}

.faq-sec h2 {
    color: #071629;
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 20px; 
}

.faq-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 60px; 
    margin-left: 15%;
    margin-right: 15%;
}

.faq-item {
    flex: 0 0 calc(50% - 30px); /* Two columns with adjusted width */
    box-sizing: border-box; 
    text-align: left;  
}

.faq-item h3 {
    font-size: 16px;
    color: #071629;  
    font-weight: bold;
    margin: 0; /* Added to reset margin */
    padding: 20px 0; /* Combined padding */
}

.faq-body {
    line-height: 24px;
    font-size: 14px;
    color: rgba(7, 22, 41, 0.5); 
    max-width: 350px; 
    margin-bottom: 70px;
    margin-top: 35px;
}

footer {
    background-color: #071629; /* Change to your desired footer color */
    color: white; /* Adjust text color */
    height: 249px; /* Set footer height */
    overflow: hidden;
}

.footer-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between; /* Space out items */
    align-items: center; /* Center items horizontally */
    height: 100%; /* Full height */
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    width: 80%;
    padding-top: 93px;
    margin-left: 10%;
    margin-right: 10%;
}

.footer-logo {
    max-height: 30px; /* Adjust logo size */
    max-width: 169px;
}

.social-icons {
    display: flex;
    gap: 15px; /* Space between icons */
        }

.footer-container p {
    font-family: 'Source Sans Pro';
    font-size: 12px;
    color: rgba(90, 90, 90, 0.3517);
    text-align: center; 
    margin-bottom: 39px; 
}
